[defaults]
callbacks_enabled = profile_tasks
inventory = inventory/hosts

# Increase concurrency (number of PCs Ansible talks to at once)
forks = 30

# GLOBALLY DISABLE FACT GATHERING
# Unless a playbook explicitly says 'gather_facts: true', Ansible will skip it entirely.
gathering = explicit

# Optimize SSH connections
host_key_checking = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

# Optimize offline detection
# If a PC is turned off, give up in 2 seconds instead of waiting 10-30s
timeout = 2
